*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width : 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    /* abbreviated spelling checks are used to correct this stuff because I am a bad speller */
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
}
.todo-app h2{
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    padding-left: 10px;
}
.icon{
    height: 1em;
    vertical-align: top;
    margin-left:3px;
    width: 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e8e8e8;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#4736a7;
    color: #fff;
    font-size: 16px;
    border-radius: 26px;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}
button:hover {
    transition: background 300ms ease-in-out;
    background: #0c283a;
}

ul li{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}
ul li.checked{
    color: #555;
    animation:  300ms forwards;
}


ul li.checked::after {
    content: '';
    position: absolute;
    left: 50px;
    top: 50%;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 1s ease;
    transform: translateY(-50%);
  }
  

ul li.checked::before{
    transition: 200ms;
    background-image: url(./assets/checked.png);
    
}

ul li.checked::after {
    animation: strikeThrough 0.7s forwards;
  }
  
  @keyframes strikeThrough {
    from {
      width: 40px;
    }
    to {
      width: 350px;
    }
  }
  

.delete-button {
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    vertical-align: middle; 
    padding-block-end: 0.5%;
    position: absolute;
    right:30px;
  }